.Layout {
  width: 100%;
  margin: auto;
  max-width: 1170px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  justify-content: center;
  padding: 128px 0;

  overflow-y: auto;
}

@media (max-width: 1200px) {
  .Layout {
    padding: 128px 16px;
  }
}
