.Catalog {
  width: 100%;

  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.TopSearch {
  display: flex;
  gap: 8px;
  margin-left: 184px;
  align-items: center;
}

.Center {
  display: flex;
  gap: 64px;
  width: 100%;
}

.CenterProducts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  width: 100%;
}

@media (max-width: 900px) {
  .TopSearch {
    flex-direction: column;
  }
}

@media (max-width: 638px) {
  .Catalog {
    padding: 0 16px;
  }
  .Center {
    flex-direction: column;
  }
  .TopSearch {
    margin-left: 0;
  }
}
