.Item {
  padding: 16px;
  width: 100%;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9e9e9;
}

.Item > * {
  flex: 0 0 25%;
}

.Title,
.Price,
.Count {
  font-size: 24px;
}

.Count {
  display: flex;
  justify-content: space-between;
  max-width: 120px;
  align-items: center;
  gap: 8px;
}

.Item > *:nth-child(4) {
  max-width: 48px;
}

@media (max-width: 638px) {
  .Item {
    align-items: start;
    gap: 16px;
    flex-direction: column;
    position: relative;
  }

  .Item > *:nth-child(4) {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
